.contact_page_content {
  display: flex;
  gap: 30px;
  margin: 50px 0 0;
}

.section_title_contact {
  font-size: 2.8rem;
  color: var(--primary-color);
  text-align: center;
}

.section_title_contact span {
  color: var(--second-color);
}

.section_title_contact.color_second {
  color: var(--second-color);
}

.section_title_contact.color_second span {
  color: var(--white-color);
}

.contact_item_img {
  width: 50px;
}

.contact_item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.box_contacts,
.box_contacts_all {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_item {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}

.map_address {
  flex-grow: 2;
}

.steps_container {
  margin: 50px 0 100px;
}

.details_tile {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--primary-color);
  text-align: center;
  cursor: pointer;
}

.details_text {
  margin: 20px 0;
  font-size: 1.4rem;
  color: var(--color-text);
  line-height: 2.3rem;
  text-align: center;
}

.box_details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.steps_img {
  width: 100px;
  height: 100px;
}

.card_step_details {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contact_logo_title {
  font-size: 1.8rem;
  font-weight: 900;
  color: transparent;
  background-image: linear-gradient(to right,
      var(--primary-color),
      #4e2a08,
      var(--second-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  text-align: center;
}

.box_call {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

@media (max-width: 900px) {
  .contact_item_img {
    width: 30px;
  }

  .contact_item {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .section_title_contact {
    font-size: 2.2rem;
  }

  .contact_page_content {
    flex-direction: column-reverse;
  }

  .box_contacts_all {
    flex-direction: row;
  }
}

@media (max-width: 400px) {

  .contact_item {
    font-size: 1.4rem;
  }

  .box_contacts,
  .contact_item {
    gap: 7px;
  }

  .box_call {
    padding-left: 10px;
  }

}