.section_advantage {
  margin-top: 70px;
}

.advantage_content_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  gap: 1.6rem;
  margin: 60px 0;
}

.advantage_card_content {
  width: 100%;
  padding: 20px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
  box-shadow: var(--shadow);
  color: var(--primary-color);
  cursor: pointer;
  transition: all .3s ease-in;
}

.advantage_card_content:hover {
  box-shadow: var(--shadow2);
}

.advantage_card_img {
  width: 120px;
  height: 120px;
}

.advantage_card_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.advantage_card_text {
  font-size: 1.8rem;
  font-weight: 500;
  transition: all .5s ease-in;
}

.advantage_card_content:hover .advantage_card_text {
  color: var(--second-color);
}

@media (max-width: 1000px) {

  .section_advantage {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .advantage_card_img {
    width: 80px;
    height: 80px;
  }

  .advantage_content_cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin: 50px 0 60px;
  }

  .advantage_card_title {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .advantage_card_text {
    font-size: 1.6rem;
  }

}

@media (max-width: 450px) {
  .advantage_card_img {
    width: 60px;
    height: 60px;
  }

  .advantage_card_title {
    font-size: 1.6rem;
  }

  .advantage_card_text {
    font-size: 1.4rem;
  }

  .advantage_card_content {
    gap: 15px;
    padding: 20px 15px;
  }

}